.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
MISC/
Libs/2008/*.idb
Libs/2012/*.idb
Samples/C/ApiHook/vs2008/obj/
Samples/C/ApiHook/vs2012/obj/
Samples/CSharp/
Src/Com/DeviareLiteCOM_i*.*
Src/Com/DeviareLiteCOM_p*.*
Src/Com/dlldata_*.*
Src/Com/dlldata64_*.*
Src/vs2008/obj/
Src/vs2012/obj/
Src/vs2012/ipch/
