.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.dll
*.lib
*.exe
*.pdb
*.tlb
*.zip
*.ipch
*.pch
*.obj
Bin/
MISC/
Libs/
obj/
Src/Com/DeviareLiteCOM_i*.*
Src/Com/DeviareLiteCOM_p*.*
Src/Com/dlldata_*.*
Src/Com/dlldata64_*.*
Src/*/.vs/
Src/*/obj/
Samples/C/ApiHook/*/.vs/
Samples/C/ApiHook/*/obj/
Samples/C/InjectDll/*/.vs/
Samples/C/InjectDll/*/obj/
Samples/C/TestDll/*/.vs/
Samples/C/TestDll/*/obj/
Samples/CSharp/ApiAndMethodsHook/*/.vs/
Samples/CSharp/ApiAndMethodsHook/*/obj/
Samples/CSharp/CreateProcessWithDllTest/*/.vs/
Samples/CSharp/CreateProcessWithDllTest/*/obj/
