.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.dll
*.lib
*.exe
*.pdb
*.tlb
*.zip
*.ipch
*.pch
*.obj
Bin/*
MISC/
Libs/*
Src/Com/DeviareLiteCOM_i*.*
Src/Com/DeviareLiteCOM_p*.*
Src/Com/dlldata_*.*
Src/Com/dlldata64_*.*

obj/
